/* HEADER */

.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo > img {
  height: 40px;
}

.menu-link > i {
  margin-right: 0.8rem;
}
